* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    background-color: rgb(43, 43, 43);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 500px;
    height: 550px;
    border: 1px gray solid;
    border-radius: 8px;
    background-color: rgb(189, 189, 189);
}

.display {
    padding: 35px;
    background-color: black;
    border-radius: 8px;
    margin: 15px;
}

.display input {
    background: none;
    padding: 15px;
    width: 100%;
    border: 0;
    outline: none;
    font-size: larger;
    border-radius: 8px;
    text-align: right;
    color: green;
}

.container__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,0fr);
    gap: 15px;
    text-align: center;
}

.btn {
    padding: 16.5px;
    border-radius: 16px;
    border: 0;
    cursor: pointer;
    margin: 5px;
    transition: 1s all;
    font-weight: bold;
    font-size: large;
}

.btn:hover {
    background-color: greenyellow;
    font-size: x-large;
    color: white;
}